<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sellers List</title>
</head>
<body>

<h1>Sellers List</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Link to Property Ad</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="seller : ${sellers}">
        <td th:text="${seller.id}"></td>
        <td th:text="${seller.name}"></td>
        <td th:text="${seller.phoneNumber}"></td>
        <td th:text="${seller.linkToPropertyAd}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>